.marker {
  border: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-image: url("../markerUser.png");
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", sans-serif;
  padding: 0;
  width: 180px;
}
.mapboxgl-popup-content h5 {
  background: #36b9cc;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
  text-align: center;
}

.mapboxgl-popup-content h6 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
  text-align: center;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

/* table */

.text {
  font-size: 0.9em !important;
}

/* form tambah spot */

.message {
  content: "";
  height: 30px !important;
  background-color: #dde0de;
}
